<include file="Common/header" />
<div class="am-cf admin-main">
    <!-- sidebar start -->
    <include file="Common/sidebar" />
    <!-- sidebar end -->
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">

            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">系统设置</strong> <small></small></div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-4">
                    <a href="__URL__/rule_add" class="am-btn am-btn-primary btn-loading-example">添加规则</a>
                </div>
                <div class="am-u-sm-4">
                    <!-- <form class="am-form-inline" action="" method="get" role="form">
                        <div class="am-form-group">
                            <input type="text" class="am-form-field" placeholder="关键词" name="keyword" value="{$_GET['keyword']}">
                        </div>
                        
                        <button type="submit" class="am-btn am-btn-default">
                            搜索
                        </button>
                    </form> -->
                </div>
            </div>
            <!--  -->
            <div class="am-g">
                <div class="am-u-sm-12">
                    <table class="am-table am-table-bd am-table-striped admin-content-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>规则标识</th>
                                <th>规则名称</th>
                                <th>认证方式</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <foreach name="list" item="v">
                                <tr>
                                    <td>{$v['id']}</td>
                                    <td>{$v['name']}</td>
                                    <td>{$v['title']}</td>
                                    <td>
                                        <eq name="v['type']" value="1">
                                            实时认证
                                        <else/>
                                            登录认证
                                        </eq>
                                    </td>
                                    <td>
                                        <eq name="v['status']" value="0">
                                            禁用
                                        <else/>
                                            启用
                                        </eq>
                                    </td>
                                    <td>
                                        <ul class="am-nav am-nav-pills">
                                            <li class="am-dropdown" data-am-dropdown>
                                                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                                                    <span class="am-icon-cog"></span>
                                                </a>
                                                <ul class="am-dropdown-content">
                                                    <li><a href="__URL__/rule_update/id/{$v['id']}">1.编辑</a></li>
                                                    <li><a href="__URL__/del_rule/id/{$v['id']}/p/{$_GET['p']}">2.删除</a></li>
                                              
                                                  </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </foreach>
                            <tr colspan="8"></tr>
                        </tbody>
                    </table>
                    {$page}
                </div>
            </div>
        </div>
        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2017 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>
    </div>
    <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/smi/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/smi/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/smi/js/amazeui.min.js"></script>
<script src="__PUBLIC__/smi/js/app.js"></script>
<script type="text/javascript">


</script>
</body>

</html>
