<include file="Common/header" />
	<div class="am-cf admin-main">
		<include file="Common/sidebar" />
		<div class="admin-content">
			<div class="am-cf am-padding">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-lg">奖品详情</strong> 
                    <small></small>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-5">
                    <a onclick="javascript: history.back()" class="am-btn am-btn-primary btn-loading-example">返回</a>
                </div>
                <!-- <div class="am-u-sm-4">
                    <form class="am-form-inline" action="" method="get" role="form">
                        <div class="am-form-group">
                            <input type="text" class="am-form-field" placeholder="关键词" name="keyword" value="{$_GET['keyword']}">
                        </div>
                        <button type="submit" class="am-btn am-btn-default">
                            搜索
                        </button>
                    </form>
                </div> -->
            </div>
            <br />
            <div class="am-g doc-am-g">
            	<div class="am-u-sm-6 am-u-md-8 am-u-lg-6">
					<article class="am-comment">
					    <div class="am-comment-main">
					        <header class="am-comment-hd">
					            <div class="am-comment-meta">
					                <a href="#link-to-user" class="am-comment-author">
					                    奖品内容
					                </a>
					                <!-- 创建于
					                <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 中国北京标准时间+0800">
					                    {$res['createtime']|date='Y-m-d H:i:s',###}
					                </time> -->
					            </div>
					        </header>
					        <div class="am-comment-bd">
					            <table class="am-table">
								    <tbody>
								    	<tr>
								            <td width="20%">
								                id
								            </td>
								            <td>
								                {$res['id']}
								            </td>
								        </tr>
								        <tr>
								            <td width="10%">
								                订单号
								            </td>
								            <td>
								                {$res['ordersn']}
								            </td>
								        </tr>
								        <tr>
								            <td width="10%">
								                奖品
								            </td>
								            <td>
								                {$res['prizename']}
								            </td>
								        </tr>
								        <tr>
								            <td width="10%">
								                购买数量
								            </td>
								            <td>
								                {$res['num']}
								            </td>
								        </tr>
								        <tr>
								            <td width="10%">
								                状态
								            </td>
								            <td>
								                <switch name="res['status']">
													<case value="-1">未中奖</case>
													<case value="1">中奖</case>
													<case value="2">已发送</case>
												</switch>
								            </td>
								        </tr>
								        <tr>
								        	<td width="10%">
								                用户选择类型
								            </td>
								            <td>
								                <switch name="res['type']">
													<case value="1">收货</case>
													<case value="2">提现转支付宝</case>
													<case value="3">提现到余额</case>
												</switch>
								            </td>
								        </tr>
								        <tr>
								        	<td width="10%">
								                奖品日期
								            </td>
								            <td>
								                {$res['ctime']|date='Y-m-d H:i:s',###}
								            </td>
								        </tr>
								        <tr>
								        	<td width="10%">
								                奖品图
								            </td>
								            <td>
												<img class="am-radius" alt="140*140" src="__ROOT__/Uploads/{$res['prizeimg']}" width="140" height="140" />
								            </td>
								        </tr>
								    </tbody>
								</table>
					        </div>
					    </div>
					</article>
				</div>
				<div class="am-u-sm-6 am-u-md-4 am-u-lg-6 am-list-border">
					<article class="am-comment">
					    <div class="am-comment-main">
					        <header class="am-comment-hd">
					            <div class="am-comment-meta">
					                <a href="#link-to-user" class="am-comment-author">
					                    个人信息
					                </a>
					                <!-- 创建于
					                <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 中国北京标准时间+0800">
					                    {$res['createtime']|date='Y-m-d H:i:s',###}
					                </time> -->
					            </div>
					        </header>
					        <div class="am-comment-bd">
					            <table class="am-table">
								    <tbody>
								        <tr>
								            <td >
								                姓名
								            </td>
								            <td>
								                {$res['username']}
								            </td>
								        </tr>
								        <tr>
								            <td>
								                手机号码
								            </td>
								            <td>
								                {$res['phone']}
								            </td>
								        </tr>
								        <tr>
								            <td>
								                收货地址
								            </td>
								            <td>
								                {$res['addrees']}
								            </td>
								        </tr>
								        <tr>
								            <td>
								                收货电话
								            </td>
								            <td>
								                {$res['mobile']}
								            </td>
								        </tr>
								        <tr>
								            <td>
								                期数
								            </td>
								            <td>
								                {$res['periodnum']}
								            </td>
								        </tr>
								        <tr>
								            <td>
								                物流号
								            </td>
								            <td>
								                {$res['logisticsSN']}
								            </td>
								        </tr>
								        <tr>
								            <td>
								                开奖码
								            </td>
								            <td>
								                {$res['opencode']}
								            </td>
								        </tr>
								        <!-- <tr>
								            <td width="20%">
								                所有奖品码
								            </td>
								            <td>
								                {$res['prizecode']}
								            </td>
								        </tr> -->
								    </tbody>
								</table>
					        </div>
					    </div>
					</article>
				</div>
			</div>
		</div>
	</div>